body
{
    font-family: Helvetica, Arial, Sans-Serif;
    color: #222;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header, footer, nav, section
{
    display: block;
}

h1
{
    margin-top: 0px;
    font-size: 140%;
}
h2
{
    font-size: 110%;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

input[type="text"]
{
    width: 500px;
}


#wrapper
{
    width: 950px;
    margin: 0px auto;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#footer
{
    margin-top: 40px;
    font-size: 80%;
    color: #999;
}
